.hero {
  text-align: center;
  font-size: 0.8rem;
  img {
    height: auto;
    max-width: 100%;
    display: inline;
    margin-top: 3.5rem;
    transition: all .25s linear;
  }
}

/* class값이 hero인 div의 자식 태그인 img를 선택*/
div.hero img:hover{
  box-shadow: 5px 5px 15px 5px gray;
}
